NODE_ENV=development
PORT=3000

APP_NAME="Paulito Shoes API"
APP_VERSION=1.0.0
CORS_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://paulito:paulito123@localhost:5432/paulito_shoes?schema=public"

JWT_ACCESS_SECRET=replace_with_a_secure_access_secret_of_32_characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace_with_a_secure_refresh_secret_of_32_characters
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_ROUNDS=12
